# Copy this file to .env and adjust values for your environment
HBASE_HOST=localhost
# From host machine use localhost:9092
# From inside cs523bdt-lab container use the kafka-server IP (check with: docker inspect kafka-server)
KAFKA_BOOTSTRAP_SERVERS=172.18.0.4:9092
OPENSKY_USERNAME=
OPENSKY_PASSWORD=
